body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Courier New', 'Courier Prime';
    background-color: #1a1d2c;
    margin: 0;
    scrollbar-width: none;
}

h1 {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top {
    color: #22a0b6;
    margin: 20px 10px 10px 10px;
    height: 39px;
    line-height: 39px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: flex;
}

#flagCount {
    font-size: 25px;
    vertical-align: middle;
}

#timer {
    vertical-align: middle;
    text-align: right;
    font-size: 25px;
}

#footer {
    text-align: center;
}

.button {
    width: auto;
    background-color: #1a1d2c00;
    font-family: 'Courier New', 'Courier Prime';
    font-weight: bolder;
    font-size: 25px;
    color: #22a0b6;
    border: 0px;
    margin-top: 10px;
}

.button:focus {
    outline: none;
}

#choose {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: #0e1723;
    padding-bottom: 15px;
}

#game {
    visibility: hidden;
}

.gridEasy {
    height: 440px;
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #0e1723;
}

.gridMedium {
    height: 616px;
    width: 616px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #0e1723;
}

.gridHard {
    height: 616px;
    width: 1232px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #0e1723;
}

.grid div {
    height: 40px;
    width: 40px;
    margin: 2px;
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
}

.ori {
    background-color: #06394c;
    font-size: 30px;
}

.oriMid {
    background-color: #072c3a;
}

.bomb {
    font-size: 20px;
}

.bombAfter {
    background-color: #0a101a;
}

.flag {
    font-size: 20px;
}

.checked {
    background-color: #0e1723;
}